---
import { Image } from "astro:assets";
import me from "../assets/me.webp";

import Main from "../layouts/Main.astro";
import Container from "../components/Container.astro";
import ExternalLink from "../components/ExternalLink.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
---

<Main>
  <Container>
    <Image
      class="h-[400px] rounded-lg object-cover object-[60%_40%]"
      src={me}
      alt="A portrait of me."
      loading="eager"
      layout="constrained"
    />
    <h1 class="pt-12 font-sans text-2xl font-bold text-orange-300">
      Hi! I'm Leo.
    </h1>
    <p class="pt-8 text-lg text-gray-300">
      I like building things on the web and a whole other stuff.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      I'm currently a Tech Lead (and developer) at <ExternalLink
        to="https://www.pipefy.com/">Pipefy</ExternalLink
      >, driving the Request XP squad towards its goals.
    </p>
    <p class="pt-8 text-lg text-gray-300">
      You can find me (sometimes) on <ExternalLink
        to="https://www.linkedin.com/in/leonardo-cano/">Linkedin</ExternalLink
      > and <ExternalLink to="https://github.com/Leocano">Github</ExternalLink>.
    </p>
    <div class="flex gap-2 pt-12">
      <div class="w-8">
        <ExternalLink to="https://github.com/Leocano"
          ><GithubIcon /></ExternalLink
        >
      </div>
      <div class="w-8">
        <ExternalLink to="https://www.linkedin.com/in/leonardo-cano/"
          ><LinkedinIcon /></ExternalLink
        >
      </div>
      <span class="ml-auto inline-flex items-end text-sm text-gray-500"
        >Updated Aug 2025</span
      >
    </div>
  </Container>
</Main>
