<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cube Experiment - Leonardo Cano - Software Engineer</title>
  </head>
  <body style={{ margin: 0 }}>
    <slot />
  </body>
</html>
